node-red/data/.flows.json.backup
[
    {
        "id": "96e55a8f4e272af3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1fda2b2ccb198049",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.30.0.101",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e7d5eeb1ec4bdbc8",
        "type": "mqtt in",
        "z": "96e55a8f4e272af3",
        "name": "sensor",
        "topic": "sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1fda2b2ccb198049",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 220,
        "wires": [
            [
                "b4717558cb4824e3"
            ]
        ],
        "outputLabels": [
            "value"
        ]
    },
    {
        "id": "b4717558cb4824e3",
        "type": "debug",
        "z": "96e55a8f4e272af3",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "bd9695c0525b6b70",
        "type": "http request",
        "z": "96e55a8f4e272af3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://api.weatherapi.com/v1/current.json?q=Roma&key=2a1bf9e463f24539a99223657240302",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 360,
        "wires": [
            [
                "beff12abd6360286"
            ]
        ],
        "outputLabels": [
            "msg.payload"
        ]
    },
    {
        "id": "beff12abd6360286",
        "type": "debug",
        "z": "96e55a8f4e272af3",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 360,
        "wires": [],
        "inputLabels": [
            "msg.payload"
        ]
    },
    {
        "id": "861f3bc9fd9444c9",
        "type": "inject",
        "z": "96e55a8f4e272af3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "rethgswyter",
        "payload": "payload",
        "payloadType": "msg",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "bd9695c0525b6b70"
            ]
        ]
    }
]