node-red/data/.flows.json.backup
[
    {
        "id": "96e55a8f4e272af3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1fda2b2ccb198049",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.30.0.101",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5d48d5155bdee5a0",
        "type": "function",
        "z": "96e55a8f4e272af3",
        "name": "hello world",
        "func": "",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is starter\nmsg.payload=\"ciao mondo\"\n\nreturn msg;",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 220,
        "wires": [
            [
                "cd082463ff3ba98e"
            ]
        ]
    },
    {
        "id": "cd082463ff3ba98e",
        "type": "debug",
        "z": "96e55a8f4e272af3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.string",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "e7d5eeb1ec4bdbc8",
        "type": "mqtt in",
        "z": "96e55a8f4e272af3",
        "name": "sensor",
        "topic": "sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1fda2b2ccb198049",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "5d48d5155bdee5a0"
            ]
        ],
        "outputLabels": [
            "value"
        ]
    }
]