node-red/data/.flows.json.backup
[
    {
        "id": "96e55a8f4e272af3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d9a6a9527f86fd92",
        "type": "inject",
        "z": "96e55a8f4e272af3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "5d48d5155bdee5a0"
            ]
        ]
    },
    {
        "id": "5d48d5155bdee5a0",
        "type": "function",
        "z": "96e55a8f4e272af3",
        "name": "hello world",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 340,
        "wires": [
            [
                "cd082463ff3ba98e"
            ]
        ]
    },
    {
        "id": "cd082463ff3ba98e",
        "type": "debug",
        "z": "96e55a8f4e272af3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 340,
        "wires": []
    }
]